@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&display=swap');

.App {
  text-align: center;
  align-content: center;
  background-color: black;
}

.masjidLogo {
  display: flex;
  flex-direction: column;
}

.logoPic {
  width: 5vw;
  min-width: 50px;
}

.masjidName {
  font-size: 1em;
  font-family: 'Shippori Mincho B1', serif;
}

.navbarChoice {
  font-family: 'Shippori Mincho B1', serif;
  color: white;
  margin-left: 5vw;
  font-size: .9em;
}

.navbarChoice:hover {
  font-weight: bold;
}

.Navbar {
  position: absolute;
}