@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&display=swap');

.App {
  text-align: center;
}

.masjidLogo {
  display: flex;
  flex-direction: column;
}

.logoPic {
  width: 5vw;
  min-width: 100px;
}

.masjidName {
  font-size: 1.2em;
  font-family: 'Shippori Mincho B1', serif;
}

.navbarChoice {
  font-family: 'Shippori Mincho B1', serif;
  color: white;
  margin: 0 5vw;
  font-size: 1.3em;
}

.navbarChoice:hover {
  font-weight: bold;
}

.Navbar {
  position: absolute;
}