.mixlrContainer {
  margin: 0;
  background: rgb(223,223,223);
  padding: 25px 10px 0px 10px;
  border-radius: 0;
}

.iframe {
  border-radius: 0px;
}

@media screen and (max-width: 420px) {
  .mixlrContainer {
    padding: 5px;
  }
}